.rule-container
{
    max-height:70rem;
    max-width:80rem;
    box-shadow: 2px 2px 4px var(--white-color);
    background-color: var(--light-sky);
    margin: 0 auto;  

}
.rules-list
{
    font-size: 2rem;
    padding: 2rem;
    margin: 2rem;
}
.btn-container
{
    display: flex;
    flex-direction: row;
    margin: 4rem auto;
    max-width: 80rem;
    align-items: center;
    justify-content: space-between;

}