@import url(/home.css);
@import url(/stylesheet/rulepage.css);
@import url(/stylesheet/questionstyle.css);

/*  reset css */
html{
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;  
    height: 100%;  
    width: 100%;
}

a{
    text-decoration: none;
    color:inherit;
}


/* colors*/
:root
{
 --primary-black:#171718;
 --white-color:white;
 --red-color:red;
--medium-sky:#57a5cf;
--light-zinc:#d4d4d8;
--light-purple:#c084fc;
--medium-indigo:#a78bfa;
}